body{
    color: rgb(237, 238, 241);
    background-color: rgb(0, 0, 0);
    margin: 0px;
}
header {
    border-bottom: solid 2px rgb(133, 131, 131);
    padding-left: 510px;
    padding-right: 500px;
    font-size: 32px;
    color: rgb(133, 131, 131);
}
section{
    display: flex;
    justify-content: center;

}
    /* Estilos para centralizar o conteúdo */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }
    /* Estilos para o cabeçalho */
    header {
        text-align: center;
        font-size: 24px;
        background-color: #010101;
        padding: 10px;
    }
    /* Estilos para o restante do conteúdo */
    section {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #050505;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
